<% if current_user.friend_requests.first != nil %>
  <%= render 'shared/answer_friend_request' %>
<% end %>
<div class="row">
  <div class="col-sm-3">
    <div id="profilePicture" class="col-sm-12 ">
      <%= image_tag(@user.avatar, :alt => "Profile picture", class: "img-fluid rounded-profile" )%>
    </div>
  </div>
  <div class="col-sm-9 pb-3">
    <%= render 'users/shared/user_stats' %>
  </div>
</div>
<div class="row">
  <div class="col-12">

    <%= render 'simple_posts/shared/posts_panel' %>
  </div>
</div>
