<nav class="navbar main-navigation navbar-light">
  <div class="container">
    <div class="navbar-header ">
      <h5>Autostop</h5>
    </div>
    <ul class="nav ">
      <li class="nav-item">
        <%= link_to svg('user'), users_show_path, class: "nav-link text-left text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to svg('thumbs-up'), "", class: "nav-link text-left text-dark" %>
      </li>
      <li class="nav-item">
        <%= link_to svg('message-square'), "", class: "nav-link text-left text-dark"%>
      </li>
      <li class="nav-item">
    <%= link_to svg( 'users'),"", class: "nav-link text-left text-dark" %>
      </li>
    </ul>
  </div>
</nav>
