<nav class="navbar main-navigation navbar-light ">
  <div class="container-fluid">

    <div class="navbar-brand">
      Autostop
    </div>

    <ul class="nav nav-justified">
      <li class="nav-item">
        <a class="nav-link">Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Trampen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Nachrichten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Freunde</a>
      </li>
    </ul>
  </div>
</nav>
