<nav class="navbar main-navigation navbar-light">
  <div class="container-fluid">

    <div class="navbar-brand">
      Autostop
    </div>

    <ul class="nav nav-justified">
      <li class="nav-item">
        <%= link_to "Profil", basic_pages_profile_path, class: "nav-link text-left" %>
      </li>
      <li class="nav-item">

        <a class="nav-link text-left">Trampen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left">Nachrichten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left">Forum</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left">Freunde</a>
      </li>
    </ul>
  </div>
</nav>
