<div class="col-4 col-sm-12">
  <div class="bootstrap-vertical-nav">

    <button class="btn btn-info btn-block hidden-md-up" type="button" data-toggle="collapse" data-target="#collapseExample"  aria-controls="collapseExample">
      Posts
    </button>

    <div class="collapse">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link  text-dark" href="#">Tramptour 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Beitrag</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Tramptour 2</a>
        </li>
      </ul>
    </div>

  </div>
</div>
