<%# this is the view for the friendship overview %>
<div class="row panel justify-content-around ">
  <div class="col-12 col-sm-8">
    <h2 class="title text-center">
      Your Friends</h2>
      <%# iterates through all friends and depicts them next to an unfriend button %>
    <% @friends.each do |user| %>
      <div class="row m-0 pt-2 hh-stats-form">
        <div class="col-3 col-sm-2 pb-2 px-2">
            <div class="d-flex align-items-center h-100">
          <%= image_tag(user.avatar, :alt => "Profile picture", class: "img-fluid rounded-picture" )%>
        </div>    </div>
        <div class=" col-6 col-sm-8 px-2">
          <h3><%= link_to user.name , user_path(user.id) %></h3>
        </div>

        <div class="col-3 col-sm-2 px-1">
          <h3><%= friends_and_edit_button(current_user, user) %></h3>
        </div>
      </div>

    <% end %>
  </div>
</div>
