<div class="p-4">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-10 col-md-8 panel">
      <div class="row m-0 justify-content-around">
        <div class="col-12 col-sm-10 col-md-8 p-0 px-3 m-3 about-panel">
      <h2 class="title text-center">About Us</h2>
      <p>We are people obsessed with hitchhiking who want to share our passion with others. This is a non-profit website. If you want to contact us do so please:</p><p> moesm@hochschule-trier.de
    </p>
  </div>
  </div>
</div>  </div>
</div>
