<div class="p-4">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-10 col-md-8 panel">
      <div class="row m-0 justify-content-around">
        <div class="col-12 col-sm-10 col-md-8 p-0 px-3 m-3 about-panel">
          <h2 class="title text-center">Data Privacy</h2>
          <p>The data you trust us with will not be forwarded to third-parties nor will it be used for any other purposes than offering this service. All of it will be deleted permanently after you decide to leave us.</p>
        </div>
      </div>
    </div>
  </div>
</div>
