<div class="row justify-content-around">
  <div class="col-10">
    <div class="row">
      <div class="col-2">
        Start
      </div>
      <div class="col-4">
        <%= hh_attribute.start %>
      </div>
      <div class="col-2">
        Destination
      </div>
      <div class="col-4">
        <%= hh_attribute.destination %>
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        Time
      </div>
      <div class="col-4">
        <%= hh_attribute.time %>
      </div>
      <div class="col-2">
        Stops
      </div>
      <div class="col-4">
        <%= hh_attribute.stops %>
      </div>
    </div>
  </div>
</div>
