<div class="row">
  <div class="col-4 col-sm-12">

    <div class="bootstrap-vertical-nav">
      <button class="btn btn-info btn-block hidden-md-up" type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">
        Posts
      </button>

      <div class="collapse">
        <ul class="nav flex-column">
          <% @user.simple_posts.reverse_each do |post| %>
            <li class="nav-item">
              <%= link_to post.title, user_simple_post_path(@user, post), remote: true, class:"nav-link text-dark" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class=" col-4 col-sm-12">
    <% if @user.id == current_user.id %>
      <%= link_to "+ New Post", new_user_simple_post_path(current_user), class: "btn btn-info w-100", role: "button" %>
    <% end %>
  </div>
</div>
