<div class="row ">
  <div class="col-12 h-100 ">
    <div class="navbar navbar-expand-vertical-md p-0 pb-2" >
      <div class="btn w-100 " id="postnav-header">
        <span class="navbar-toggler-icon custom-toggler-icon" ></span>Posts
      </div>
      <button class="btn w-100 navbar-toggler" id="postnavbutton" type="button" data-toggle="collapse" data-target="#postnav" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Posts' navigation">
        <span class="navbar-toggler-icon custom-toggler-icon" ></span>Posts
      </button>
      <div class="collapse navbar-collapse" id="postnav">
        <ul class="navbar-nav flex-md-column">
          <% user.simple_posts.reverse_each do |post| %>

            <li class="nav-item ">
              <div class="<%= 'post-nav-selected' if simple_post.id == post.id %>">
              <%= link_to post.title, user_simple_post_path(user, post), remote: true, class:"post-nav-hover nav-link text-dark pl-2" %>
            </div>
            </li>
          <% end %>
        </div>
      </ul>
      <% if user.id == current_user.id %>
        <%= link_to svg('plus'), new_user_simple_post_path(current_user), class: "btn w-100 ", role: "button" %>
      <% end %>
    </div>
  </div>
</div>
