<div class="row">
  <div class="col-12">
    <div class="btn-group float-right" role="group" aria-label="Delete and edit post">
      <%= simple_posts_edit_button(user, simple_post)%>
      <%= simple_posts_delete_button(user, simple_post)%>
    </div>
  </div>
</div>
