<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div id="profilePicture" class="col-sm-12">
            <%= image_tag "profilePicture.jpg", class: "img-fluid rounded-profile", alt: "lool" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12"></div>
        </div>
      </div>
      <div id="stats" class="col-sm-9">
        <div class="row">
          <div id="nameStat" class="col-sm-8 col-8">
            <h1>Melinda Musterfrau</h1>
          </div>
          <div class="col-4">
            <div class="btn-group" role="group">
              <button class="btn btn-default" type="submit">
                <%= svg 'edit-2' %>
              </button>
            </div>
          </div>
        </div>
        <div class="personStats">

          <div class="row">
            <div class="col-sm-4 col-6">Alter</div>
            <div id="age" class="col-sm-8 col-6">22</div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6">Km getrampt</div>
            <div id="kmstat" class="col-sm-8 col-6">20 000</div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-6">Länder betrampt</div>
            <div id="countryStat" class="col-sm-8 col-6">Belgien, Deutschland, Estland</div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/map_panel' %>
  </div>
</div>
