<div class="row ">
  <div class="col-12 col-md-9 panel">
    <div class="row">
      <div class="col-12 mt-3 pb-4 ">
        <h2>
          Post erstellen</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-1 ml-3">
        <label>Titel</label>
      </div>
      <div class="col-10 ">
        <input class="form-control" type="text" class="form-control" placeholder="Dein Titel"/>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pb-4 pt-3">
        <textarea class="form-control" placeholder="Tippe hier deinen Text ein..." rows="6"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-4 mx-auto mb-3">
        <div class="btn-group" role="group">
          <button class="btn btn-info" type="submit">
            Speichern</button>
          <%= link_to "Abbrechen", basic_pages_profile_path, class: "btn btn-info", role:"button" %>
        </div>
      </div>
    </div>
  </div>
</div>
