body {padding-top: 60px;}

section{
  overflow: auto;
}

.profilePicture{

}

.map_panel{

  border-radius: 25px;
  background: #c6ecd7;
}

.map{

}

.main-navigation{
  border-radius: 25px;
  background: #8cd9af;
}
.rounded-profile {
  border-radius: 25px;
}
