@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
}
section {
  overflow: auto;
}

.profilePicture {}

.panel {
  border-radius: 15px;
  background: #c6ecd7;
}

.map {
  max-width: 100%;
  overflow: hidden;
  color: red;
  width: inherit;
  height: 400px;
}

.main-navigation {
  border-radius: 15px;
  background: #8cd9af;
}

.rounded-profile {
  border-radius: 15px;
}

.personStats {
  background-color: cornsilk;
  border-radius: 15px;
  border-width: thick;
  border-color:cornsilk;
  border-style: solid;
}

.mapStats {
  background-color: #ecf9f2;
  border-radius: 10px;
  border-width: thick;
  border-style:solid;
  border-color: #ecf9f2;
}

.mapStatsItem {
  font-weight: bold;
}
