// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.vertical-center{
  min-height: 70%;
  min-height: 70vh;
  display: flex;
  align-items: center;
}
span{
  display: block;
  text-align: right;
  font-size: 12px;
}
