// Place all the styles related to the SimplePosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.title {
  font-weight: 600;
  font-size: 1.5em;
}

span.date {
  font-weight: 400;
  font-size: 0.8em;
}

.hh-stats-form {
  border-color: #fcd96f;
  border-style: solid;
  border-width: thin;
  border-radius: 0.4rem;
  background-color: $accent-color-second;
}

.hh-stats {}

a.hh-link {
  color: black;
}

a.hh-link:hover {
  text-decoration: none;
  color: DimGray;
}

#mapid {
  width: 600px;
  height: 400px;
    border-radius: 0.4rem;
}
