//color set
  $main-color: #FFC930;
  //$main-color: #92FFC1;
  //$bgcolor: #FFF4B4;
  $bgcolor: #FFF8DB;
  $accent-color-second: #BCCC39;
  $accent-color-first: #FFE69D;

  $main-nav-button-hover-color: #fcba00;

  $button-color: #eff7f8;
  $button-border-color:#459BA3;
  $button-text-color: #333333;

  $link-color: #FF7C00;
  $link-hover: #FF9F10;

  $postnavbar-color: #fcfeff;
  $postnavbar-selected-color: #f7f3e6;
  $postnavbar-selected-border-color: #d3d3d3;
  $postnavbar-hover-color:  #fcf8ea;

  $navigation-color: #fbf7f4;
