//color set
  $main-color: #FFC930;
  //$main-color: #92FFC1;
  //$bgcolor: #FFF4B4;
  $bgcolor: #FFF8DB;
  $accent-color-second: #BCCC39;
  $accent-color-first: #FFE69D;
  $button-color: #459BA3;
  $link-color: #FF7C00;
  $link-hover: #FF9F10;
