<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "sessions", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sessions', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="col-12">
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
