<div class="panel p-4">
    <div class=" row m-2">
      <div class="col-12">
        <h2 class="text-center title">New Post</h2>
      </div>
    </div>
    <%= render 'form', simple_post: @simple_post %>
  </div>
</div>
