<div class=" row">
  <div class="col-12 col-sm-10 panel">
    <div class=" row">
      <div class="col-12">
        <h2 class="text-center title">New Simple Post</h2>
      </div>
    </div>

    <%= render 'form', simple_post: @simple_post %>

    <div class="row">
      <div class="text-center col-12">
        <%= link_to 'Back', user_path(current_user.id) %>
      </div>
    </div>
  </div>
</div>
