
<p>
  <strong>User_id:</strong>
  <%= @simple_post.user_id %>
</p>

<p>
  <strong>Text:</strong>
  <%= @simple_post.text %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @simple_post.pictures %>
</p>

<p>
  <strong>Title:</strong>
  <%= @simple_post.title %>
</p>
